<!-- Tell the form the route -->
<form action="/"  method="POST" >
  <input type="hidden" value="{{module._id}}" name="moduleId"/>
      <fieldset>
      <legend>Try a new Module!</legend>
    <!-- first name -->
      <div class="form-group">
        <label for="module-name">First Name</label><br>
        <input class="form-control" id="module-name" type="text" name="name" value="{{module.name}}"/>
      </div>
</form>