<!doctype html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Infinity Box</title>

  <!-- Bootstrap core CSS -->
  <link href="./css/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <!-- <link href="./public/css/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
  <!-- <link href="./public/css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="./device-mockups/device-mockups.css">

  <link rel="stylesheet" href="./css/infinity-box.css">

</head>
<body>
        {{> navbar}}
    <div class="container">


        {{{body}}}
    </div>
  <!-- Latest compiled and minified JavaScript -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</body>
</html>
