<a href="/modules">Back to Modules List</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<h1>{{module.firstname}}</h1>
<h1>{{module.lastname}}</h1>
    <p><a href="/modules/{{module._id}}/edit">Edit</a></p>
    <p>
        <form method="POST" action="/modules/{{module._id}}?_method=DELETE">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </p>

    <hr>

    <!-- Review form -->
    {{> reviews-form}}

    <!-- Show Reviews -->
    {{#each reviews}}
      {{> review}}
    {{/each}}

  </div>
</div>
