<h1>Modules</h1>

 <div class="row">

    {{#each modules}}
        <h2>
            <a href="/modules/{{this.id}}">{{this.firstname}}</a>
            {{this.firstname}}
            {{this.lastname}}
        </h2>
    {{/each}}

</div>
