body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(58, 59, 62);
  background-repeat: no-repeat;
  background-size: cover;
  }

.section-heading {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}
.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}

a {
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    }
a:link, a:visited {
    color: white;
    }
