body {
    background-color: rgb(0, 182, 180);
}
.section-heading {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}
.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}

a {
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
    }
a:link, a:visited {
    color: white;
    }
